body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  background-image: url('./resources/Homebackground.jpg');
  background-size: 100%;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.section {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 20px;
  background-color: #2a2a2a;
}

.section:last-child {
  margin-right: 0;
}

h1, h2 {
  color: #76c7c0;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

select, input[type="number"], button {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
}

button {
  background-color: #76c7c0;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  background-color: #555;
  color: #999;
  cursor: not-allowed;
}

#resultDisplay, #activityDisplay {
  font-weight: bold;
  color: #767ec7;
}

p {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.sidenav {
  height: 100%;
  width: 50px;
  /* Initial minimal width */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  /* Changed to flex to align icons and text */
  align-items: center;
  transition: 0.1s;
}

.sidenav a .nav-text {
  display: none;
  /* Initially hidden */
  margin-left: 10px;
  /* Space between icon and text */
}

.sidenav.opened a .nav-text {
  display: inline;
  /* Show text when sidebar is opened */
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  color: rgb(117, 117, 117);
  z-index: 2;
  /* Ensures it's above the sidenav */
}

